<h1>Welcome to Rock, Paper, Scissors !</h1>
<p>This games involves 2 players</p>
<p>Each player must enter either rock, paper or scissors</p>
<p>Rock beats scissors</p>
<p>Paper beats rock</p>
<p>Scissors beats paper</p>
<p>If both players enter the same answer - there is no winner !</p>
<p>Have fun and good luck !!</p>
