body {
  background-color: salmon;
}


ul li {
  display: inline;
}

#container {
  width: 100%;

  background-color: #abbddb;
  /*display: flex;*/

}

nav{
  background-color: #d8d168;
  width: 100%
}
